<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog-centered">
        <div class="modal-content xmedium-popup">
            <form #EmailOrder="ngForm" novalidate>
                <div class="popup-header">
                    <h2>Email Order</h2>
                </div>
                <div class="popup-content cst-scroll-bar" [class.invalid-inputs]="submitted">
                    <div class="section-block info-content pb-2 mb-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12" [ngClass]="{'has-danger': (email.dirty || email.touched || submitted) && (email.invalid || email.errors?.required) }">
                                <h5 class="field-label">Supplier Email</h5>
                                <input type="text" class="form-control" #email="ngModel" [(ngModel)]="supplierEmailAddresses" pattern="(([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)(\s*;\s*|\s*$))*" name="supplierEmail" autoFocusDirective required />
                                <!-- <code>pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"</code>  accepts only small letters in email -->
                                <!-- [a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$ -->
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h5 class="field-label">Display Name <span class="info-tooltip"
                                        matTooltip="A customized name that appears as a sender’s name in the recipient’s inbox."
                                        matTooltipPosition="above" matTooltipClass="custom-tooltip"><i
                                            class="far fa-info-circle"></i></span> <span
                                        class="info-text">&nbsp;(Optional)</span></h5>
                                <input type="text" class="form-control" [(ngModel)]="supplierEmailModel.DisplayName" name="displayName" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6" [ngClass]="{'has-danger': (subject.dirty || subject.touched || submitted) && (subject.invalid || subject.errors?.required) }">
                                <h5 class="field-label">Subject</h5>
                                <input type="text" class="form-control" #subject="ngModel" [(ngModel)]="supplierEmailModel.Subject" name="subject" required />
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="alert-xs">
                                    *The PDF copy of this order will be sent with this email.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-block info-content pb-2">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 auto_temp_copy">
                                <h5 class="field-label">Text <span class="info-text"> (Remaining Characters: {{emailBodyMaxLength - emailBodyWithoutHTML?.length}})</span>
                                </h5>
                                <div [ngClass]="{'has-danger': emailBody.invalid || isInvalidEmailBody || (emailBodyWithoutHTML?.length > emailBodyMaxLength),
                                    'has-success': !isInvalidEmailBody && (emailBodyWithoutHTML?.length <= emailBodyMaxLength) }">
                                    <email-editor [value]="supplierEmailModel?.Text" (onEmailBodyChange)="onDescriptionUpdated($event)">
                                    </email-editor>
                                    <input type="text" name="emailBody" #emailBody="ngModel" [(ngModel)]="supplierEmailModel.Text" style="display: none" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row popup-footer">
                    <div class="col-md-12">
                        <div class="float-sm-right sm-button-full">
                            <button type="button" class="wellyx-button light-button"
                                (click)="onCloseDialog()">Cancel</button>
                            <button type="submit" class="wellyx-button  action-button" [disabled]="disableSaveBtn" (click)="sendEmail()">Send Email</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>