<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog-centered">
    <div class="modal-content medium-popup">
      <div class="popup-header">
        <h2>Brand Details</h2>
      </div>
      <div class="popup-content cst-scroll-bar">
        <div class="section-block mb-3 info-content">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title">
                <h3>Brand Information</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
              <h6>Name</h6>
              <p>{{brandViewDetail.BrandName? brandViewDetail.BrandName : "N/A"}}</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
              <h6>Type</h6>
              <p>{{brandViewDetail.BrandTypeName? brandViewDetail.BrandTypeName : "N/A"}}</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-3" *ngIf="hasBranchSourceType">
              <h6>Branch Permissions</h6>
              <p>{{brandViewDetail.HasBranchPermission? "Yes": "No"}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <h6>Product Category</h6>
              <p>{{brandViewDetail.ProductCategoryNames? brandViewDetail.ProductCategoryNames : "N/A"}}</p>
            </div>
            <div class="col-md-12 mb-3">
              <h6>Description</h6>
              <p>{{brandViewDetail.Description? brandViewDetail.Description : "N/A"}}</p>
            </div>
          </div>

        </div>

        <div class="section-block info-content">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title no-border mb-1">
                <h3>Branches & Permissions</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="overflow-auto">
                <div class="grid-scroll-xs cst-scroll-bar">

                  <div class="row align-items-center grid-header">
                    <div class="col col-md-9">
                      <h5>Branch</h5>
                    </div>
                    <div class="col">
                      <h5>Active</h5>
                    </div>

                  </div>
                  <div *ngFor="let branch of brandViewDetail?.BranchList">
                    <div class="row align-items-center grid-content">
                      <div class="col col-md-9">
                        <h5>{{branch?.BranchName}}</h5>
                      </div>
                      <div class="col">
                        <h5>
                          {{branch.IsActive? "Yes" : "No" }}
                        </h5>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="row grid-content no-hover" *ngIf="!isDataExists">
                <div class="col-md-12 text-center">
                  <div class="no-record-found">{{messages.Generic_Messages.No_Record_Found}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row popup-footer">
        <div class="col-md-12">
          <div class="float-right" [ngClass]="{'scroll-space': brandViewDetail?.BranchList > 7}">
            <button type="button" class="wellyx-button light-button" (click)="onCloseDialog()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
