// colors
$white-color: #ffffff;
$black-color-primary: #000000;
$dark-color-primary: #202D39;
$grey-color-primary: #bcbcbd;
$blue-color-primary: #1B6EB8;
$blue-color-secondary: #DBE8F4;
$blue-color-terniary: #F0F5FA;
$blue-color-four: #f5f8fb;

$red-color-primary:#DC3545;
$green-color-primary:#28A745;
$orange-color-primary:#F96E03;
$yellow-color-primary:#FFB301;
$success-color-primary:#3c763d;
$warning-color-primary:#856404;

$listing-color-primary: #f7f7f7;
$boxshadow-color-primary: #F2F3ED;
$border-color-primary: #E5E5E5;
$icon-color-primary: #999;
$scrollbar-color: #cdcdcd;

$popup-body-content-color: #EEEEEE;

//Alert Bg Colors
$orange-bg-color: #FFF3CF;