<div tabindex="-1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog-centered">
    <div class="modal-content xsmall-popup">
      <div class="popup-header">
        <h2>{{receiveData.Title}}</h2>
      </div>
      <div class="popup-content cst-scroll-bar">
        <div class="section-block py-3">
          <div class="d-flex align-items-center alert-description">
            <div class="alert-icon delete-icon mx-sm-3">
              <i class="fal fa-trash-alt" *ngIf="!receiveData.isALertIcon && !receiveData.isCancelIcon"></i>
              <i class="fal fa-exclamation-triangle" *ngIf="receiveData.isALertIcon"></i>
              <i class="fal fa-circle-xmark" *ngIf="receiveData.isCancelIcon && !receiveData.isALertIcon" style="line-height: 2.8em;"></i>
            </div>
            <div class="description-content pr-sm-3">
              <h2>{{receiveData.header}}</h2>
              <p class="mb-0">{{receiveData.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row popup-footer">
        <div class="col-md-12 col-sm-12">
          <div class="float-sm-right sm-button-full">
            <button class="wellyx-button light-button" (click)="onNo()">Cancel</button>
            <button class="wellyx-button action-button" (click)="onYes()">{{ConfirmButtonText}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
