<div class="row">
    <div class="col-md-6 col-sm-6">
        <label class="field-label">{{dateFromLabel}}</label>
        <input type="text" name="DateFrom" class="form-control date-picker cst-bg-color" [(ngModel)]="dateFrom" (ngModelChange)="onFromDateChange(dateFrom)" #DateFrom="ngModel" matInput [matDatepicker]="datefrom" [placeholder]="dateToPlaceHolderValue"
             readonly (click)="onOpenCalendar(datefrom)" />
        <mat-datepicker #datefrom></mat-datepicker>
        <mat-datepicker-toggle class="date-picker-toggle" matSuffix [for]="datefrom"></mat-datepicker-toggle>
    </div>
    <div class="col-md-6 col-sm-6">
        <label class="field-label">{{dateToLabel}}</label>
        <input type="text" name="DateTo" class="form-control date-picker cst-bg-color" [(ngModel)]="dateTo" (ngModelChange)="onToDateChange(dateTo)" #DateTo="ngModel" matInput [matDatepicker]="dateto" [placeholder]="dateFromPlaceHolderValue" [max]="toMaxDate"
            [min]="dateFrom" (click)="onOpenCalendar(dateto)" readonly />
        <mat-datepicker #dateto></mat-datepicker>
        <mat-datepicker-toggle class="date-picker-toggle" matSuffix [for]="dateto"> </mat-datepicker-toggle>
    </div>
</div>
