<div class="login_form_user">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row wrapper_user_attandance">
                    <!--Logo Section-->
                    <div class="col-lg-12 logo_div">
                        <img src="assets/images/wellyx_logo.svg" alt="logo" />
                    </div>
                    <div class="col-lg-12">
                        <!--Form Section-->
                        <form #changePasswordForm="ngForm" (ngSubmit)="onChangePassword()" novalidate>
                            <div class="checkout_note_field">

                                <!-- Old Password -->
                                <div class="checkout_note_field" [ngClass]="{
                                    'has-danger': password.invalid && (password.touched || password.dirty || invalidPassword),
                                    'has-success': password.valid && (password.touched || password.dirty)
                                    }">
                                    <input type="password" class="form-control" placeholder="Old Password" name="txtOldPassword"
                                        id="txtOldPassword" [(ngModel)]="changePasswordModel.OldPassword"
                                        (ngModelChange)="hasError = false;" #oldPassword="ngModel" required />
                                    <i class="fal fa-lock"></i>
                                </div>
                                <span class="text-danger" *ngIf="oldPassword?.errors?.required && (oldPassword.touched || oldPassword.dirty || invalidPassword)">
                                    {{messages.Validation.OldPassword_Required}}
                                </span>

                                <!-- New Password -->

                                <div class="checkout_note_field" [ngClass]="{
                                    'has-danger': password.invalid && (password.touched || password.dirty || invalidPassword),
                                    'has-success': password.valid && (password.touched || password.dirty)
                                    }">
                                    <input type="password" class="form-control" placeholder="New Password" name="txtPassword"
                                        id="txtPassword" [minlength]="8" [maxlength]="20" [(ngModel)]="changePasswordModel.Password" 
                                        (ngModelChange)="hasError = false;" #password="ngModel" required />
                                    <i class="fal fa-lock"></i>
                                </div>

                                <span class="text-danger" *ngIf="password?.errors?.required && (password.touched || password.dirty || invalidPassword)">
                                    {{messages.Validation.Password_Required}}
                                </span>

                                <span class="text-danger" *ngIf="password?.errors?.minlength && (password.touched || password.dirty || invalidPassword)">
                                    {{messages.Validation.Password_MinLength}}
                                </span>

                                <!-- Confirm New Password -->

                                <div class="checkout_note_field" [ngClass]="{
                                        'has-danger': password.invalid && (password.touched || password.dirty || invalidPassword),
                                        'has-success': password.valid && (password.touched || password.dirty)
                                    }">
                                    <input type="password" class="form-control" placeholder="Confirm New Password" name="txtConfirmPassword"
                                        id="txtConfirmPassword" [(ngModel)]="confirmPassword" (ngModelChange)="hasError = false;"
                                        #conPassword="ngModel" [minlength]="8" [maxlength]="20" required />
                                    <i class="fal fa-lock"></i>
                                </div>
                                <span class="text-danger" *ngIf="conPassword?.errors?.required && (conPassword.touched || conPassword.dirty || invalidPassword)">
                                    {{messages.Validation.Password_ConfirmPass_Required}}
                                </span>
                                <span class="text-danger" *ngIf="conPassword?.errors?.minlength && (conPassword.touched || conPassword.dirty || invalidPassword)">
                                    {{messages.Validation.Password_MinLength}}
                                </span>
                                <span class="text-danger" *ngIf="password.valid && conPassword.valid  && changePasswordModel.Password != confirmPassword">
                                    {{messages.Validation.Password_Mismatch}}
                                </span>
                                <span class="text-danger" *ngIf="password.valid && oldPassword.valid  && changePasswordModel.Password === changePasswordModel.OldPassword">
                                    {{messages.Validation.Password_Same}}
                                </span>
                                
                                <button type="submit" class="btn next_btn" [disabled]="changePasswordForm.invalid || changePasswordModel.Password != confirmPassword || changePasswordModel.Password === changePasswordModel.OldPassword">
                                    Change Password</button>
                            </div>
                        </form>
                    </div>

                    <!--User Image-->
                </div>
            </div>
        </div>
    </div>
    <div class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <p>Powered by <a href="#">Wellyx</a></p>
                </div>
            </div>
        </div>
    </div>
</div>