<div class="login_form_user">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="row wrapper_user_attandance">
          <!--Logo Section-->
          <div class="col-lg-12 logo_div">
            <img src="assets/images/wellyx_logo.svg" alt="logo" />
          </div>
          <div class="col-lg-12">
            <div class="checkout_note_field">
              <div [ngClass]="{
                             'has-danger': email.invalid && (email.touched || email.dirty || invalidEmail),
                             'has-success': email.valid && (email.touched || email.dirty)
                             }">
                <input type="text" class="form-control" placeholder="Email" name="txtEmail" [(ngModel)]="staffEmail"
                  (ngModelChange)="hasError = false;" #email="ngModel" pattern="^([a-zA-Z0-9_\-\.]+)@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,10})$"
                  required />
                <i class="fal fa-user"></i>
              </div>

              <span class="text-danger" *ngIf="email?.errors?.required && (email.touched || email.dirty || invalidEmail)">
                {{messages.Validation.Email_Required}}
              </span>
              <span class="text-danger" *ngIf="email?.errors?.pattern">{{messages.Validation.Email_Invalid}}</span>

              <button type="submit" class="btn next_btn" (click)="onSendPassword()">Send Password</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
          <p>Powered by <a href="#">Wellyx</a></p>
        </div>
      </div>
    </div>
  </div>
</div>