<div class="login_form_user">
    <div class="container">
        <div class="row login_alignment_center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row wrapper_user_attandance">
                    <!--Logo Section-->
                    <div class="col-lg-12 logo_div">
                        <img src="assets/images/wellyx_logo.svg" alt="logo" />
                    </div>
                    <div class="col-lg-12">
                        <!--Form Section-->
                        <form #loginForm="ngForm" (ngSubmit)="onSavePassword()" novalidate>
                            <div class="checkout_note_field">
                                <input type="text" class="form-control" name="txtEmail" placeholder="Email" [ngModel]="savePasswordModel.Email" readonly
                                />
                                <i class="fal fa-user"></i>
                                <!--<div [ngClass]="{
                                       'has-danger': email.invalid && (email.touched || email.dirty || invalidEmail),
                                       'has-success': email.valid && (email.touched || email.dirty)
                                       }">
                                     <input type="text" class="form-control" placeholder="Email" name="txtEmail"
                                        [(ngModel)]="savePasswordModel.Email" (ngModelChange)="hasError = false;" #email="ngModel"
                                        pattern="^([a-zA-Z0-9_\-\.]+)@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$"
                                        required /> 
                                        <i class="fal fa-user"></i>
                                </div> <span class="text-danger" *ngIf="email?.errors?.required && (email.touched || email.dirty || invalidEmail)">
                                    {{errorMessageList.Validation.Email_Required}}
                                </span>
                                <span class="text-danger" *ngIf="email?.errors?.pattern">{{errorMessageList.Validation.Email_Invalid}}</span> -->

                                <!-- New Password -->

                                <div class="checkout_note_field" [ngClass]="{
                                    'has-danger': password.invalid && (password.touched || password.dirty || invalidPassword),
                                    'has-success': password.valid && (password.touched || password.dirty)
                                    }">
                                    <input type="password" class="form-control" placeholder="New Password" name="txtPassword" id="txtPassword" [(ngModel)]="savePasswordModel.Password"
                                        (ngModelChange)="hasError = false;" #password="ngModel" [minlength]="8" [maxlength]="20"
                                        required />
                                    <i class="fal fa-lock"></i>
                                </div>

                                <span class="text-danger" *ngIf="password?.errors?.required && (password.touched || password.dirty || invalidPassword)">
                                    {{messages.Validation.Password_Required}}
                                </span>
                                <span class="text-danger" *ngIf="password?.errors?.minlength && (password.touched || password.dirty || invalidPassword)">
                                    {{messages.Validation.Password_MinLength}}
                                </span>
                                <span class="text-danger" *ngIf="hasError && password.invalid">{{errorMessage}}</span>

                                <!-- Confirm New Password -->

                                <div class="checkout_note_field" [ngClass]="{
                                    'has-danger': password.invalid && (password.touched || password.dirty || invalidPassword),
                                    'has-success': password.valid && (password.touched || password.dirty)
                                    }">
                                    <input type="password" class="form-control" placeholder="Confirm New Password" name="txtConfirmPassword" id="txtConfirmPassword"
                                        [(ngModel)]="confirmPassword" (ngModelChange)="hasError = false;" #conPassword="ngModel"
                                        [minlength]="8" [maxlength]="20" required />
                                    <i class="fal fa-lock"></i>
                                </div>
                                <span class="text-danger" *ngIf="conPassword?.errors?.required && (conPassword.touched || conPassword.dirty || invalidPassword)">
                                    {{messages.Validation.Password_ConfirmPass_Required}}
                                </span>
                                <span class="text-danger" *ngIf="conPassword?.errors?.minlength && (conPassword.touched || conPassword.dirty || invalidPassword)">
                                    {{messages.Validation.Password_MinLength}}
                                </span>
                                <span class="text-danger" *ngIf="password.valid && conPassword.valid && savePasswordModel.Password != confirmPassword">
                                    {{messages.Validation.Password_Mismatch}}
                                </span>

                                <button type="submit" class="btn next_btn" [disabled]="savePasswordModel.Password != confirmPassword">
                                    Save Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <ul>
                        <li><a href="https://www.facebook.com/wellyxtech" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/Wellyxtech" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/wellyxtech/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCPhjbhMNqYWFJDe950DR5lg" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <p>Powered by <a href="#">Wellyx</a></p>
                </div>
            </div>
        </div>
    </div>
</div>