<div class="row">
  <div class="col-md-12 p-0">
    <div class="float-sm-right sm-button-half">
      <button type="button" class="wellyx-button light-button mb-3" role="navigation"
        [routerLink]="['/product/products']">
        Back to Search
      </button>

      <button class="wellyx-button light-button mb-3" (click)="onPrevious()" *ngIf="showPrevious">Previous</button>
      <button class="wellyx-button action-button mb-3" (click)="onNext()"
        *ngIf="showContinue">Next</button>
      <button class="wellyx-button action-button mb-3" (click)="onSave()" *ngIf="showSave"
        [disabled]="isSaveClicked">Save</button>
    </div>
  </div>
</div>



<mat-horizontal-stepper #stepper>
  <ng-template matStepperIcon="edit">
    <mat-icon>edit</mat-icon>
  </ng-template>

  <!-- Product Information -->
  <form #productInformation="ngForm" novalidate>
  <mat-step>
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="alert alert-danger" *ngIf="showProductInformationError">
          {{messages.Validation.Info_Required}}
        </div>
        <div class="alert alert-danger" *ngIf="!showProductInformationError && isShowDefaultImageSetError">
          One image must be selected as default
        </div>
      </div>
    </div>

    
    <ng-template matStepLabel>Product Information</ng-template>
   

      <div class="search-filter-block mb-3 px-0 pt-0">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h3>Product Information</h3>
            </div>
          </div>
        </div>

        <div class="row align-items-end md-col-half sm-col-full">
          <div class="col">
            <h5 class="field-label">Name</h5>
            <div [ngClass]="{ 'has-danger': productName.invalid && (productName.dirty || productName.touched || showProductInformationError),
                              'has-success': productName.valid && (productName.dirty || productName.touched ) }">

              <input type="text" [(ngModel)]="saveProductModel.ProductName" class="form-control" #productName="ngModel"
                name="productName" maxlength="100" pattern=".*\S+.*" (ngModelChange)="onChangeProductInformation()"
                required autoFocusDirective />
            </div>
          </div>

          <div class="col">
            <h5 class="field-label">Classification</h5>
            <div class="select-label">
              <select class="form-control" name="classificationID" id="classificationID"
                [(ngModel)]="saveProductModel.ProductClassificationID" #ClassificationID="ngModel">
                <option *ngFor="let classification of classificationList" [ngValue]="classification.value">
                  {{classification.text}}
                </option>
              </select>
            </div>

          </div>
          <div class="col">
            <h5 class="field-label">Category</h5>
            <div [ngClass]="{ 'has-danger': productCategoryID.invalid && (productCategoryID.dirty || productCategoryID.touched || showProductInformationError),
              'has-success': productCategoryID.valid && (productCategoryID.dirty || productCategoryID.touched ) }">
              <div class="select-label">
                <select class="form-control" name="productCategoryID" id="productCategoryID"
                  (ngModelChange)="onChangeProductInformation()" [(ngModel)]="saveProductModel.ProductCategoryID"
                  #productCategoryID="ngModel" required>
                  <option [ngValue]="null">Select Category</option>
                  <option *ngFor="let productCategory of productCategoryList"
                    [ngValue]="productCategory.ProductCategoryID">
                    {{productCategory.ProductCategoryName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col">
            <h5 class="field-label">Brand <span class="info-text">(Optional)</span></h5>
            <div class="select-label">
              <select class="form-control" name="brandID" id="brandID" [(ngModel)]="saveProductModel.BrandID">
                <option [ngValue]="0">Select Brand</option>
                <option *ngFor="let brand of brandList" [ngValue]="brand.BrandID">
                  {{brand.BrandName}}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <h5 class="field-label">Purchase Restriction
              <span class="info-tooltip"
                matTooltip="By checking a customer type, you can restrict a particular customer type from viewing or buying this class on the widget and customer app. For core & staff app, a tag will be displayed for information purposes only, however you can still sell the class to all customers."
                matTooltipPosition="above" matTooltipClass="custom-tooltip"><i class="far fa-info-circle"></i></span>
              &nbsp;<span class="info-text">(Optional)</span>
            </h5>
            <div class="select-label">
              <mat-select class="form-control" placeholder="Select Purchase Restriction" name="mainSearch" #selectItem
                [(ngModel)]="selectedRestrictedList" tabindex="10" multiple>

                <mat-select-trigger *ngIf="selectedRestrictedList && selectedRestrictedList.length > 0">
                  {{selectedRestrictedList && selectedRestrictedList.length > 0 &&
                  selectedRestrictedList[0].text ?
                  selectedRestrictedList[0].text :
                  selectedRestrictedList && selectedRestrictedList.length >= 2 &&
                  selectedRestrictedList[0].text == undefined ?
                  selectedRestrictedList[1].text : ''}}
                  <span *ngIf="selectedRestrictedList && selectedRestrictedList.length >= 2"
                    class="example-additional-selection">
                    (+{{selectedRestrictedList[0].text == undefined ? selectedRestrictedList.length
                    - 2 :
                    selectedRestrictedList.length - 1 }}
                    {{selectedRestrictedList[0].text == undefined && selectedRestrictedList.length
                    === 3 ? 'other' :
                    selectedRestrictedList.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <span>
                  <mat-option #allRestrictionSelection [value]="0" (click)="toggleAllRestrictionSelection()">
                    All Purchase Restriction</mat-option>
                </span>
                <mat-option *ngFor="let option of restrictedList" [value]="option" (click)="togglePerOneRestriction()">
                  {{option.text}} </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row description-content">
          <div class="col-md-12">
            <h5 class="field-label">Description <span class="info-text">(Remaining Characters: {{ 450 -
                saveProductModel?.Description?.length }})</span></h5>
            <textarea rows="6" maxlength="450" [(ngModel)]="saveProductModel.Description" class="form-control textarea-resize-none"
              #description="ngModel" name="description"></textarea>
          </div>
        </div>
      </div>

      <div class="search-filter-block mb-3 px-0 pt-0">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h3>Media <span class="info-tooltip"
                  matTooltip="Upload images of your product to display across all platforms. A maximum of five images can be uploaded and the default image is used as thumbnail on products’ listing screens."
                  matTooltipPosition="above" matTooltipClass="custom-tooltip"><i class="far fa-info-circle"></i></span>
              </h3>
            </div>
          </div>
        </div>

        <div class="row align-items-center sm-col-full md-col-half lg-col-third">
          <div class="cst-col-5" *ngFor="let productMedia of saveProductModel.ProductMediaVM; let i = index">
            <div class="media-gallery-wrapper">
              <div class="media-gallery" [ngClass]="{ 'media-active': productMedia.IsDefault }"
                (click)="showImageCropperDialog(i)">
                <img src="{{productMedia.ImageFile ? 'data:image/jpeg;base64,' + productMedia.ImageFile : serverImageAddress + productMedia.ImagePath}}"
                  class="img-fluid" alt="logo" />
                <div class="media-action">
                  <a href="javascript:void(0)" (click)="onDeleteImage($event, i)" class="delete-icon"><i
                      class="fal fa-trash-alt"></i></a>
                  <a href="javascript:void(0)" (click)="onSetDefaultImage($event, i)" class="tick-icon"><i
                      class="fa-regular fa-circle-check"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="cst-col-5"
            *ngIf="saveProductModel.ProductMediaVM == null || saveProductModel.ProductMediaVM && saveProductModel.ProductMediaVM.length < 5">
            <div class="media-gallery-wrapper" (click)="showImageCropperDialog(null)">
              <div role="button" class="media-placeholder d-flex align-items-center justify-content-center h-100">
                <i class="fal fa-circle-plus"></i>
              </div>
            </div>
          </div>

        </div>
      </div>

    
  </mat-step>
</form>

  <!-- Branches & Permission -->
  <mat-step>
    <ng-template matStepLabel>Branches & Permissions</ng-template>
    <div class="row" *ngIf="showBranchValidation">
      <div class="col-md-12 p-0">
        <div class="alert alert-danger">
          {{messages.Validation.Please_Add_Atleast_1_Branch_To_Proceed}}
        </div>
      </div>
    </div>
    <form #productBranchesPermission="ngForm" novalidate>

      <div class="row">
        <div class="col-md-4 col-sm-12 pl-md-0 mob-plr-0">
          <div class="search-filter-block mb-3 px-0">
            <div class="row align-items-center description-content">
              <div class="col pr-xl-0">
                <h2 class="mb-1">Branch Permissions</h2>
                <p class="mb-0">Toggle on to allow branches to update permissions.</p>
              </div>
              <div class="col col-3 pl-md-0 text-right">
                <mat-slide-toggle [checked]="saveProductModel.HasBranchPermission"
                  [(ngModel)]="saveProductModel.HasBranchPermission" class="wellyx-checked" name="hasBranchPermission">
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 mob-plr-0">
          <div class="search-filter-block mb-3 px-0">
            <div class="row align-items-center description-content">
              <div class="col">
                <h2 class="mb-1">Branch Pricing</h2>
                <p class="mb-0">Toggle on to allow branches to update pricing.</p>
              </div>
              <div class="col col-3 pl-md-0 text-right">
                <mat-slide-toggle [checked]="saveProductModel.AllowBranchEditPrice"
                  [(ngModel)]="saveProductModel.AllowBranchEditPrice" class="wellyx-checked"
                  name="allowBranchEditPrice">
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 pr-md-0 mob-plr-0">
          <div class="search-filter-block mb-3 px-0">
            <div class="row align-items-center description-content">
              <div class="col pr-xl-0">
                <h2 class="mb-1">Branch Inventory</h2>
                <p class="mb-0">Toggle on to allow branches to update inventory.</p>
              </div>
              <div class="col col-3 pl-md-0 text-right">
                <mat-slide-toggle [checked]="saveProductModel.AllowBranchTrackInventory"
                  [(ngModel)]="saveProductModel.AllowBranchTrackInventory" class="wellyx-checked"
                  name="allowBranchTrackInventory">
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-block mb-3 pb-3">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title py-2">
              <h3>Branches & Permissions</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="verticle-scroll">
              <div class="grid-scroll-md cst-scroll-bar">
                <div class="row align-items-center grid-header">
                  <div class="col">
                    <h5>Branch</h5>
                  </div>
                  <div class="col text-center">
                    <h5>Active</h5>
                  </div>
                  <div class="col text-center">
                    <h5>Show Online</h5>
                  </div>
                  <div class="col text-center">
                    <h5>Hide Price Online</h5>
                  </div>
                  <div class="col text-center">
                    <h5>Is Featured</h5>
                  </div>
                  <div class="col text-center">
                    <h5>Track Inventory</h5>
                  </div>
                  <div class="col col-sm-2">
                    <h5>Actions</h5>
                  </div>
                </div>
                <div class="row align-items-center grid-content"
                  *ngFor="let data of saveProductModel.ProductBranchPermissionVM;let i = index">
                  <div class="col">
                    <h5>{{data.BranchName}}</h5>
                  </div>

                  <div class="col">
                    <div class="checkbox checkbox-success d-flex justify-content-center">
                      <input type="checkbox" [(ngModel)]="data.IsActive" name="{{'Chk_item' + i}}"
                        [disabled]="!data.IsIncluded" id="{{'Chk_item' +i}}" [(checked)]="data.IsActive" (change)="onChangeIsActive($event,data)">
                      <label for="{{'Chk_item' +i}}"></label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="checkbox checkbox-success d-flex justify-content-center">
                      <input type="checkbox" [(ngModel)]="data.IsOnline" name="{{'showOnline' + i}}"
                        [disabled]="!data.IsIncluded || !data.IsActive" id="{{'showOnline' +i}}" [(checked)]="data.IsOnline" (change)="onChangeIsOnline($event,data)">
                      <label for="{{'showOnline' +i}}"></label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="checkbox checkbox-success d-flex justify-content-center">
                      <input type="checkbox" [(ngModel)]="data.IsHidePriceOnline" name="{{'hidePrice' + i}}"
                        [disabled]="!data.IsIncluded || !data.IsActive || !data.IsOnline" id="{{'hidePrice' +i}}" [(checked)]="data.IsHidePriceOnline">
                      <label for="{{'hidePrice' +i}}"></label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="checkbox checkbox-success d-flex justify-content-center">
                      <input type="checkbox" [(ngModel)]="data.IsFeatured" name="{{'isFeatured' + i}}"
                        [disabled]="!data.IsIncluded || !data.IsActive || !data.IsOnline" id="{{'isFeatured' +i}}" [(checked)]="data.IsFeatured">
                      <label for="{{'isFeatured' +i}}"></label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="checkbox checkbox-success d-flex justify-content-center">
                      <input type="checkbox" [(ngModel)]="data.HasTrackInventory" name="{{'trackInventory' + i}}"
                        [disabled]="!data.IsIncluded" id="{{'trackInventory' +i}}" [(checked)]="data.HasTrackInventory">
                      <label for="{{'trackInventory' +i}}"></label>
                    </div>
                  </div>

                  <div class="col col-sm-2">
                    <h5>
                      <mat-slide-toggle class="" [(ngModel)]="data.IsIncluded" name="{{'toggle' +i}}"
                        id="{{'toggle' +i}}" [(checked)]="data.IsIncluded" (change)="onChangeBranchAdded($event,data)">
                        {{data.IsIncluded ? 'Added' : 'Not Added'}}
                      </mat-slide-toggle>
                    </h5>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-step>

  <ng-container *ngIf="productID == 0">
      <!-- Pricing -->
      <mat-step>
        <ng-template matStepLabel>Pricing</ng-template>
        <div class="wizard-pricing-selector">
          <app-save-product-price #saveProductPriceRef [areaName]="productAreaEnum.SaveProduct" [taxList]="taxList" [productClassificationID]="saveProductModel.ProductClassificationID"
            [supplierList]="supplierList" [branchList]="saveProductModel.ProductBranchPermissionVM" [measurementUnitList]="measurementUnitList"
            [variantName]="variantName"></app-save-product-price>
        </div>
      </mat-step>
  </ng-container>
  

</mat-horizontal-stepper>