<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog-centered">
        <div class="modal-content large-popup">
            <div class="popup-header">
                <h2>Receive Purchase Order</h2>
            </div>
            <div class="popup-content cst-scroll-bar">
                <div class="section-block info-content pb-3 mb-3">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <h5 class="field-label">Delivery Date</h5>
                            <input type="text" name="receiveOrderDate" class="form-control date-picker cst-bg-color"
                                [(ngModel)]="receiveDate" #receiveOrderDate="ngModel" matInput [matDatepicker]="dateto"
                                placeholder="Please Select Date" readonly (click)="onOpenCalendar(dateto)"
                                (ngModelChange)="onReceiveDateChange($event)" [min]="minDate" />
                            <mat-datepicker #dateto></mat-datepicker>
                            <mat-datepicker-toggle class="date-picker-toggle" matSuffix [for]="dateto">
                            </mat-datepicker-toggle>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-2">
                            <div class="overflow-auto">
                                <div class="grid-scroll-lg cst-scroll-bar">
                                    <div class="row align-items-center grid-header">
                                        <div class="col">
                                            <h5>Product</h5>
                                        </div>
                                        <div class="col">
                                            <h5>Barcode</h5>
                                        </div>
                                        <div class="col">
                                            <h5>SKU</h5>
                                        </div>
                                        <div class="col">
                                            <h5>Supplier Code</h5>
                                        </div>
                                        <div class="col">
                                            <h5>Ordered Quantity</h5>
                                        </div>
                                        <div class="col"
                                            *ngIf="purchaseOrderStatusID === enumPOStatus.PartiallyReceived">
                                            <h5>Previously Received Qty</h5>
                                        </div>
                                        <div class="col">
                                            <h5>Received Today</h5>
                                        </div>
                                        <div class="col">
                                            <h5>Supplier Price</h5>
                                        </div>
                                        <div class="col">
                                            <h5>Ordered Total</h5>
                                        </div>
                                        <div class="col">
                                            <h5>Today Total</h5>
                                        </div>
                                    </div>
                                    <div class="row align-items-center grid-content"
                                        *ngFor="let purchaseOrder of receivePurchaseOrders; let i=index">
                                        <div class="col">
                                            <h5>{{purchaseOrder.ProductClassificationID == enumProductClassification.Variant ? purchaseOrder?.ProductName + ' - ' + purchaseOrder?.ProductVariantName : purchaseOrder?.ProductName }}</h5>
                                        </div>
                                        <div class="col">
                                            <h5>{{purchaseOrder?.Barcode}}</h5>
                                        </div>
                                        <div class="col">
                                            <h5>{{purchaseOrder?.SKU}}</h5>
                                        </div>
                                        <div class="col">
                                            <h5>{{purchaseOrder?.SupplierCode}}</h5>
                                        </div>
                                        <div class="col">
                                            <h5>{{purchaseOrder?.OrderedQuantity}}</h5>
                                        </div>
                                        <div class="col"
                                            *ngIf="purchaseOrderStatusID === enumPOStatus.PartiallyReceived">
                                            <h5>{{purchaseOrder?.PreviouslyReceiveQuantity}}</h5>
                                        </div>
                                        <div class="col">
                                            <div [ngClass]="{
                                                'has-danger':purchaseOrder.ReceivedToday === 0 || isReceiveOrderQuantityZero }">
                                                <h5>
                                                    <input type="number" name="Received_{{i}}" [disabled]="purchaseOrder.IsArchived || purchaseOrder.SupplierIsArchived"  min="1" (keydown)="preventCharactersForNumber($event)" [(ngModel)]="purchaseOrder.ReceivedToday" (keyup)="validateQuantity($event, i)"
                                                        class="form-control mb-0 text-center">
                                                </h5>
                                            </div>

                                        </div>
                                        <div class="col">
                                            <h5>{{purchaseOrder?.SuplierPrice}}</h5>
                                        </div>
                                        <div class="col">
                                            <h5>{{purchaseOrder?.OrderedTotal}}</h5>
                                        </div>
                                        <div class="col">
                                            <h5>{{purchaseOrder?.TodayTotal}}</h5>
                                        </div>

                                    </div>
                                    <div class="row align-items-center grid-content row-highlight" *ngIf="receivePurchaseOrders && receivePurchaseOrders.length > 0">
                                        <div class="col">
                                            <h5 class="font-weight-medium">Total</h5>
                                        </div>
                                        <div class="col">

                                        </div>
                                        <div class="col">

                                        </div>
                                        <div class="col">

                                        </div>
                                        <div class="col ">
                                            <h5 class="font-weight-medium ">{{totalOrderedQuantity}}</h5>
                                        </div>
                                        <div class="col"
                                            *ngIf="purchaseOrderStatusID === enumPOStatus.PartiallyReceived">
                                            <h5 class="font-weight-medium ">{{totalPreviouslyReceivedQuantity}}</h5>
                                        </div>
                                        <div class="col text-center">
                                            <h5 class="font-weight-medium ">{{totalReceivedTody}}</h5>
                                        </div>
                                        <div class="col">
                                            <h5></h5>
                                        </div>
                                        <div class="col">
                                            <h5 class="font-weight-medium ">{{totalOrdered | currency: currencyFormat}}
                                            </h5>
                                        </div>
                                        <div class="col">
                                            <h5 class="font-weight-medium">{{todayTotal | currency: currencyFormat}}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row grid-content no-hover" *ngIf="receivePurchaseOrders && receivePurchaseOrders.length === 0">
                        <div class="col-md-12 text-center">
                            <div class="no-record-found">{{messages.Generic_Messages.No_Record_Found}}</div>
                        </div>
                    </div>
                </div>
                <div class="section-block info-content pb-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h5 class="field-label">Notes <span class="info-text">(Remaining
                                    Characters: {{ 250 -
                                    saveGRNViewModel?.notes?.length }})</span>
                            </h5>
                            <textarea rows="5" [(ngModel)]="saveGRNViewModel.notes" maxlength="250"
                                class="form-control textarea-resize-none"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row popup-footer">
                <div class="col-md-12">
                    <div class="float-sm-right sm-button-full">
                        <button type="button" class="wellyx-button light-button"
                            (click)="onCloseDialog()">Cancel</button>
                        <button type="button" class="wellyx-button  action-button"
                            [disabled]="receivePurchaseOrders.length === 0"
                            (click)="onSaveReceiveOrder()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>