<div class="row mb-3" *ngIf="isSaveAllow">
  <div class="col-md-12 p-0">
    <div class="float-right"><button class="wellyx-button action-button mb-0" tabindex="0"
        [routerLink]="['../suppliers/details/0']">Add Supplier</button>
    </div>
  </div>
</div>

<div class="search-filter-block mb-3 px-0">
  <div id="search_accordion">
    <div class="panel-heading collapsed row" data-toggle="collapse" data-parent="#search_accordion"
      data-target="#product_search">
      <div class="col-md-12">
        <h3 class="panel-title accordion-toggle">Search Filter</h3>
      </div>
    </div>
    <div id="product_search" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row align-items-end">
          <div class="col-md-12">
            <div class="line-seprator"></div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6">
            <h5 class="field-label">Product Supplier</h5>
            <input type="text" class="form-control" name="supplierName" id="supplierName" maxlength="50"
              [(ngModel)]="supplierSearchParameter.SupplierName">
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6">
            <h5 class="field-label">Type</h5>
            <div class="select-label">
              <select class="form-control" name="selectLevel" id="selectLevel"
                [(ngModel)]="supplierSearchParameter.TypeID">
                <option [ngValue]=0>
                  All
                </option>
                <option [ngValue]="1">
                  Branch Level
                </option>
                <option [ngValue]="7">
                  Enterprise
                </option>
              </select>
            </div>
          </div>



          <div class="col-lg-3 col-md-4 col-sm-6">
            <h5 class="field-label">Branch</h5>
            <div class="select-label">
              <select class="form-control" [(ngModel)]="supplierSearchParameter.BranchID" name="selectBranch"
                id="selectBranch">
                <option [ngValue]=0>All</option>
                <option *ngFor="let branch of branchList" [ngValue]="branch.BranchID">
                  {{branch.BranchName}}
                </option>
              </select>
            </div>
          </div>


          <div class="col-lg-3 col-md-4 col-sm-6">
            <h5 class="field-label">Status</h5>
            <div class="select-label">
              <select class="form-control" name="selectStatus" id="selectStatus"
                [(ngModel)]="supplierSearchParameter.StatusID">
                <option [ngValue]=null>
                  All
                </option>
                <option [ngValue]="1">
                  Active
                </option>
                <option [ngValue]="0">
                  Inactive
                </option>
              </select>
            </div>
          </div>


          <div class="offset-xl-9 offset-lg-8 col-xl-3 col-lg-4 col-md-8 mt-3 p-0">
            <div class="row button-space no-btn-sm-space">
              <div class="col-md-6 col-sm-6">
                <button class="filter-button light-button" type="button" name="resetbutton" id="resetButton"
                  (click)="resetSearchFilter()">
                  Reset</button>
              </div>
              <div class="col-md-6 col-sm-6">
                <button class="filter-button blue-button" type="button" (click)="searchSupplierList()" name="searchButton"
                  id="searchButton">
                  Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="search-filter-block mb-3">
  <div class="overflow-auto">
    <div class="grid-scroll-lg cst-scroll-bar master-row">
      <div class="row align-items-center grid-header">
        <div class="col col-3">
          <h5>
            <a class="primary-color" href="javascript:void(0)" (click)="changeSorting(1)">
              Product Supplier
              <i class="far fa-sort-alt"></i>
            </a>
          </h5>
        </div>
        <div class="col">
          <h5>
            <a class="primary-color" href="javascript:void(0)" (click)="changeSorting(2)">
              Type
              <i class="far fa-sort-alt"></i>
            </a>
          </h5>
        </div>
        <div class="col">
          <h5>Branch</h5>
        </div>
        <div class="col text-center">
          <h5>Status</h5>
        </div>
        <div class="col text-center">
          <h5>Actions</h5>
        </div>
      </div>

      <ng-container *ngFor="let supplier Of supplierList;  let i = index">
        <div class="row align-items-center grid-content parent-grid-content">
          <div class="col col-3">
            <div class="cursor-pointer cst-collapse collapsed" data-toggle="collapse" attr.data-target="#collapseExample{{i}}"
              aria-expanded="false" attr.aria-label="collapseExample{{i}}">
              <h5>{{supplier.SupplierName}}</h5>
            </div>
          </div>
          <div class="col">
            <h5>{{supplier.Type}}</h5>
          </div>
          <div class="col">
            <h5></h5>
          </div>
          <div class="col">
            <h5></h5>
          </div>
          <div class="col text-center grid-actions-btn">
            <h5>
              <span class="blue">
                <a matTooltip="View" matTooltipPosition="above" matTooltipClass="custom-tooltip"
                  href="javascript:void(0)" (click)="viewSupplierDetail(supplier.SupplierID ,supplier.AppSourceTypeID)">
                  <i class="fal fa-book-open"></i>
                </a>
              </span>
              <span class="blue" *ngIf="isSaveAllow && supplier.AppSourceTypeID == appSourceType.EnterPrise">
                <a matTooltip="Edit" matTooltipPosition="above" matTooltipClass="custom-tooltip"
                  href="javascript:void(0)" [routerLink]="['../suppliers/details/'+supplier.SupplierID]">
                  <i class="fal fa-edit"></i>
                </a>
              </span>
              <span class="blue" *ngIf="isDeleteAllow  && supplier.AppSourceTypeID == appSourceType.EnterPrise">
                <a matTooltip="Delete" matTooltipPosition="above" matTooltipClass="custom-tooltip"
                  (click)="onDeleteSupplier(supplier.SupplierID)">
                  <i class="fa-light fa-trash-can"></i>
                </a>
              </span>
              <span class="blue" *ngIf="supplier.AppSourceTypeID == appSourceType.OnSite">
                <a matTooltip="Redirect" matTooltipPosition="above" matTooltipClass="custom-tooltip"
                  (click)="onRedirectBranchSupplier(supplier)">
                  <i class="fal fa-external-link-square"></i>
                </a>
              </span>


            </h5>
          </div>
        </div>

        <div class="row align-items-center grid-content collapse" *ngFor="let supplierChild of supplier.Detail"
          id="collapseExample{{i}}">
          <div class="col col-3">
            <h5></h5>
          </div>
          <div class="col">
            <h5></h5>
          </div>
          <div class="col">
            <h5>{{supplierChild.BranchName}}</h5>
          </div>
          <div class="col text-center">
            <h5>{{supplierChild.IsActive ? 'Active' :'Inactive'}}</h5>
          </div>
          <div class="col text-center grid-actions-btn">
            <!-- <h5 *ngIf="isBranchPermission(staffChild.BranchID) && isEditAllow">
                <span class="blue">
                  <a matTooltip="Edit" (click)="onRoutRrl(staffChild.StaffID ,staffChild.BranchID)"
                    matTooltipPosition="above" matTooltipClass="custom-tooltip">
                    <i class="fal fa-edit"></i>
                  </a>
                </span>
              </h5> -->
          </div>
        </div>
      </ng-container>
    </div>
  </div>


  <div class="row grid-content no-hover" *ngIf="!isDataExists">
    <div class="col-md-12 text-center">
      <div class="no-record-found">{{messages.Generic_Messages.No_Record_Found}}</div>
    </div>
  </div>

  <app-pagination #appPagination (paginationEvent)="reciviedPagination($event)"></app-pagination>


</div>